body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('oquiz.webp'); 
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-size: 25px;
}

#quizContainer {
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    overflow: hidden;
    width: 80%;
    max-width: 600px;
    text-align: center;
    padding: 35px; 
}

#startContainer, #result {
    padding: 20px;
}

.btn {
    padding: 20px 30px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #de632a;
    color: white;
    font-size: 15px;
}

.btn:hover {
    background-color: #ebce58;
}

.hide {
    display: none;
}

.correct {
    background-color: #4caf50;
    color: white;
}

.wrong {
    background-color: #f44336;
    color: white;
}

#questionContainer {
    padding: 20px;
}

#timer {
    background-color: #ff3030ef;
    color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

#progress {
    width: 100%;
    background-color: #f3f3f3;
    border-radius: 5px;
    overflow: hidden;
    margin: 10px 0;
}

#progressBar {
    height: 10px;
    background-color: #636cff;
    width: 0;
}

.feedback {
    font-size: 16px;
    margin-top: 10px;
    color: #f44336; 
}
.feedback.correct {
    color: #4caf50; 
}

#result .message {
    font-size: 30px;
    margin-top: 20px;
    font-weight: bold;
}

